@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
:root {
    --font-family: 'Noto Sans', sans-serif;
    --header-height: 75px;

    --primary-color: #14c560;
    --white-color: #fff;
    --text-color: #191c1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
