.blogDetailsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.blogHeader {
    text-align: center;
}

.blogContent {
    margin-top: 40px;
}

.searchBar {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .blogDetailsContainer {
        padding: 10px;
    }
    .blogContent {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .blogDetailsContainer {
        padding: 20px;
    }
    .blogContent {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1025px) {
    .blogDetailsContainer {
        padding: 30px;
    }
    .blogContent {
        margin-top: 40px;
    }
}

.descriptionBlog {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
