.saladinContainer {
    position: relative;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/Images/bg_home.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
}

.saladinHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    img {
        max-width: 100%;
        height: auto;
        margin: 20px auto;
        display: block;
    }
}

.textContainer {
    text-align: center;
    width: 100%;

    h1 {
        color: #4caf50;
        font-size: 5rem;
        margin-right: -20px;
    }

    p {
        font-size: 20px;
        margin: 10px 0;
        margin-right: -20px;
    }
}

@media (min-width: 768px) {
    .saladinHeader {
        flex-direction: row;
        justify-content: space-between;

        img {
            max-width: 130%;
            margin-left: -150px;
        }

        .textContainer {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.saladinContent1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    max-width: 715px;
    min-height: 180px;
}

.saladinCard {
    display: flex;
    max-width: 164px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 124px;
    text-align: center;
    margin: -1px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.saladinCard:hover {
    background-color: #f0fff7;
}

.saladinIcon {
    font-size: 2rem;
}

.saladinTitle {
    margin-top: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.saladinTag {
    position: absolute;
    top: -10px;
    right: -20px;
    z-index: 1;
}

.saladinCarouselContainer {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;

    h2 {
        margin-bottom: 20px;
        font-size: 5rem;
        color: #4caf50;
    }
}

.saladinCarouselItem {
    display: flex;
    justify-content: center;
}

.saladinCarouselImageContainer {
    display: flex;
    justify-content: space-around;
}

.saladinCarouselImage {
    width: 48%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.saladinContainer2 {
    display: flex;
}

.saladinBlock {
    margin-bottom: 40px;
    margin: 0 auto;
}

.saladinBlock h2,
p {
    width: 100%;
    padding-top: 20px;
}

.saladinRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.saladinCard2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 75px;
    height: 65px;
    margin: 0;
}

.saladinImage {
    width: 60px;
    height: 52px;
    object-fit: contain;
    border-radius: 10px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cardContainer {
    max-width: 400px;
    img {
        width: 100px;
        height: 100px;
        // margin: 0 auto;
        display: block;
    }
    h3 {
        font-size: 2.5rem;
        margin: 16px 0;
    }

    ul {
        li {
            font-size: 2rem;
        }
    }
}

.saladinTrang4Container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .saladinContainer2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .saladinBlock {
        flex: 1 1 calc(50%);
        max-width: 500px;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 2rem;
            margin: 0;
        }
    }

    @media (max-width: 1200px) {
        .saladinBlock {
            flex: 1 1 100%;
        }
    }
}
