.saladinContainer {
    position: relative;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/Images/bg_home.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
}

.saladinHeader {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        max-width: 65%;
        height: auto;
        margin-left: 300px;
        position: relative;
        z-index: 0;
    }

    h1 {
        position: absolute;
        top: 70px;
        left: 170px;
        color: #4caf50;
        font-size: 42px;
        z-index: 1;
        max-width: 400px;
    }

    p {
        position: absolute;
        top: 190px;
        left: 170px;
        font-size: 18px;
        z-index: 1;
    }
}

.saladinContent1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    max-width: 715px;
    min-height: 180px;
}

.saladinCard {
    display: flex;
    max-width: 164px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 124px;
    text-align: center;
    margin: -1px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.saladinCard:hover {
    background-color: #f0fff7;
}

.saladinIcon {
    font-size: 2rem;
}

.saladinTitle {
    margin-top: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.saladinTag {
    position: absolute;
    top: -10px;
    right: -20px;
    z-index: 1;
}

.saladinCarouselContainer {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #4caf50;
    }
}

.saladinCarouselItem {
    display: flex;
    justify-content: center;
}

.saladinCarouselImageContainer {
    display: flex;
    justify-content: space-around;
}

.saladinCarouselImage {
    width: 48%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.saladinContainer2 {
    display: flex;
    margin: 0 auto;
    max-width: 750px;
}

.saladinBlock {
    margin-bottom: 40px;
    max-width: 300px;
    margin: 0 auto;
}

.saladinBlock h2,
p {
    max-width: 400px;
    width: 100%;
    // margin-left: 15px;
}

.saladinRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.saladinCard2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 75px;
    height: 65px;
    margin: 0;
}

.saladinImage {
    width: 60px;
    height: 52px;
    object-fit: contain;
    border-radius: 10px;
}
