.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px -1px, rgba(0, 0, 0, 0.04) 0px 1px 18px 0px,
        rgba(0, 0, 0, 0.05) 0px 6px 10px 0px;
    z-index: 99;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: var(--header-height);
}

.menu-responsive {
    display: none;
}

.logo-with-nav-menu,
.actions-with-nation {
    display: flex;
    align-items: center;
}

.actions-with-nation {
    .welcome {
        font-size: 1.4rem;

        .username {
            color: var(--primary-color);
        }
    }
    .menu-list {
        width: 135px;

        .menu-title {
            font-size: 1.3rem;
        }
    }
}

.logo-with-nav-menu {
    .logo {
        cursor: pointer;
        width: 120px;
    }
}

.nav-list {
    margin-left: 24px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.nav-title {
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 20px 0;
    transition: color 0.2s ease-in-out;
    & + .nav-item {
        margin-left: 24px;
    }
    &:hover {
        cursor: pointer;
        color: var(--primary-color);
    }

    .nav-icon {
        margin-left: 4px;
        font-size: 1.1rem;
    }
}

.menu-list {
    width: 210px;
    list-style: none;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px -1px, rgba(0, 0, 0, 0.04) 0px 1px 18px 0px,
        rgba(0, 0, 0, 0.05) 0px 6px 10px 0px;
}

.menu-link {
    padding: 12px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #14c5601a;
    }

    .icon {
        height: 32px;
    }
}

.menu-title {
    margin-left: 12px;
}

.nation-box {
    margin-left: 12px;
    display: none;
    align-items: center;

    .flag {
        height: 20px;
    }
}

.nation-name {
    padding: 0;
    margin-left: 6px;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* > PC low */
@media (min-width: 64em) {
    .menu-btn {
        display: none;
    }
    .nation-box {
        display: flex;
    }
}

/* > PC low - PC */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .wrapper {
        margin-left: 12px;
        margin-right: 12px;
    }
}
/* Mobile & tablet */
@media (max-width: 63.999375em) {
    .wrapper {
        margin-right: 12px;
    }
    .nav {
        display: none;
    }
    .menu-responsive {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.show {
            display: block;
        }

        .main {
            position: relative;
            padding-top: 67px;
            padding-bottom: 32px;
            width: 322px;
            height: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: var(--white-color);
            overflow-y: auto;
            z-index: 2;

            .wrapper-logo {
                padding: 0 16px 24px;
                display: flex;
                align-items: center;

                .close-icon {
                    font-size: 1.8rem;
                }

                .logo {
                    cursor: pointer;
                    margin-left: 12px;
                }
            }

            .message {
                margin: 0 auto 24px;
                padding: 0 12px;
                display: flex;
                align-items: center;
                width: 298px;
                height: 44px;
                font-size: 1.3rem;
                color: var(--white-color);
                background-color: #14c560;
                border-radius: 4px;
            }

            .menu-items {
                margin: 0 12px;
                list-style: none;

                .menu-link,
                .menu-item-wrapper {
                    padding: 12px 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }

            .menu-link-wrapper {
                margin-top: 24px;

                .menu-list {
                    margin-top: 12px;
                    margin-left: 12px;
                    padding-right: 24px;
                    width: 100%;
                    box-shadow: none;

                    .menu-link {
                        padding-left: 12px;
                        padding-right: 12px;
                        border-radius: 4px;

                        .menu-title {
                            font-weight: 400;
                        }
                    }
                }
            }

            .menu-item-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .right-box {
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 6px;
                    }

                    .icon-wrapper {
                        display: flex;

                        &.rotate-180 {
                            transform: rotate(180deg);
                        }
                    }
                }

                &.have-children {
                    padding-left: 16px;
                    padding-right: 16px;
                    border-radius: 30px;
                    background-color: #30bf7129;
                }
            }
        }

        .blur {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 314px;
            background-color: #18181999;
        }
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.999375em) {
}

/* Mobile */
@media (max-width: 46.249375em) {
}
